PLANNING_CENTER_CLIENT_ID=
PLANNING_CENTER_SECRET=
RATE_LIMIT_MAX_REQUESTS=80
RATE_LIMIT_WINDOW_SECONDS=20
LOG_RESPONSE_TEXT=False
PAGE_SIZE_EVENTS=100
PAGE_SIZE_PEOPLE=100
PAGE_SIZE_ATTENDANCE=100
GROUP_NAME=Sure Foundation Attendance
COMPARISON_SIZE_WEEKS=26