PLANNING_CENTER_CLIENT_ID=
PLANNING_CENTER_SECRET=
# Planning Center limits the requests per 20 seconds we are allowed to make.
# Use these settings to configure something more conservative than Planning Center's documented limits.
RATE_LIMIT_MAX_REQUESTS=80
RATE_LIMIT_WINDOW_SECONDS=20
LOG_RESPONSE_TEXT=False
# PAG_SIZE_x specifies how many records are loaded from Planning Center in a single HTTP request
PAGE_SIZE_EVENTS=100
PAGE_SIZE_PEOPLE=100
PAGE_SIZE_ATTENDANCE=100
# See the Planning Center GUI for a list of existing groups and their names
GROUP_NAME=Sure Foundation Attendance
COMPARISON_SIZE_WEEKS=26
# Specifies how large of a decline someone's attendance must see to appear on the report
DECLINE_THRESHOLD=.10
# Only for local debugging. Causes errors in production when non-blank.
REPORT_FILE_PATH=
# Cron expression for the schedule to send out emails.
REPORT_SCHEDULE_CRON=32 17 6 1-7 * 2
REPORT_EMAIL_RECIPIENTS=
REPORT_EMAIL_SENDER=
AZURE_EMAIL_SERVICE_CONNECTION_STRING=